# Ignore all files from .config
*
!*/

# Whitelists
!.gitignore
!/README.md

!fish/**
!fastfetch/**
!nvim/**
!bashtop/**
bashtop/error.log
!rofi/**
!omf/**
!alacritty/**
!tmux/**
!zellij/**
!nano/**
!scripts/**
!remote/**
!warp-terminal/keybindings.yaml
spicetify/Themes/Onepunch/.gitignore
sublime-text/Packages/WakaTime/.gitignore
