# Ignore all files from .config
*
!*/

# Whitelists
!.gitignore
!/README.md

!fish/**
!fastfetch/**
!nvim/**
!rofi/**
!alacritty/**
!tmux/**
!zellij/**
!nano/**
!scripts/**
!remote/**

spicetify/Themes/Onepunch/.gitignore
sublime-text/Packages/WakaTime/.gitignore
